<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div id="addition-form" class="addition-form">
    <div class="container-fluid">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Name:</span>
            </div>
            <input type="text"
                   th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control is-valid'"
                   th:field="*{name}"
                   placeholder="Name"/>
            <div class="invalid-feedback text-center">
                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                       class="validation-message text-center"></label>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Website:</span>
            </div>
            <input type="text"
                   th:class="${#fields.hasErrors('website')} ? 'form-control is-invalid' : 'form-control is-valid'"
                   th:field="*{website}"
                   placeholder="Your website"/>
            <div class="invalid-feedback text-center">
                <label th:if="${#fields.hasErrors('website')}" th:errors="*{website}"
                       class="validation-message text-center"></label>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Address:</span>
            </div>
            <input type="text"
                   th:class="${#fields.hasErrors('address')} ? 'form-control is-invalid' : 'form-control is-valid'"
                   th:field="*{address}"
                   placeholder="Address"/>
            <div class="invalid-feedback text-center">
                <label th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                       class="validation-message text-center"></label>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Phone number:</span>
            </div>
            <input type="text"
                   th:class="${#fields.hasErrors('phoneNumber')} ? 'form-control is-invalid' : 'form-control is-valid'"
                   th:field="*{phoneNumber}"
                   placeholder="Organization's phone number"/>
            <div class="invalid-feedback text-center">
                <label th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
                       class="validation-message text-center"></label>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Rating:</span>
            </div>
            <input type="text"
                   th:class="${#fields.hasErrors('rating')} ? 'form-control is-invalid' : 'form-control is-valid'"
                   th:field="*{rating}"
                   placeholder="Rating"/>
            <div class="invalid-feedback text-center">
                <label th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"
                       class="validation-message text-center"></label>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Description:</span>
            </div>
            <input type="text"
                   th:class="${#fields.hasErrors('description')} ? 'form-control is-invalid' : 'form-control is-valid'"
                   th:field="*{description}"
                   placeholder="Description"/>
            <div class="invalid-feedback text-center">
                <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                       class="validation-message text-center"></label>
            </div>
        </div>
        <div class="custom-file mb-3">
            <input type="file" name="file" id="customFile">
            <label class="custom-file-label" for="customFile">Choose logo</label>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Type:</span>
            </div>
            <select th:field="*{organizationTypes}">
                <option th:each="type : ${types}"
                        th:value="${type}"
                        th:text="${type}"
                ></option>
            </select>
        </div>
    </div>

</div>
</body>
</html>