<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div id="addition-form" class="addition-form">
    <div class="container-fluid">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Name:</span>
            </div>
            <input type="text"
                   th:class="${nameError != 'Please fill the name!'} ? 'form-control is-valid' : 'form-control is-invalid' "
                   th:field="*{name}"
                   placeholder="Name"/>
            <div class="invalid-feedback">
                <p th:text="${nameError}"></p>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Website:</span>
            </div>
            <input type="text"
                   th:class="${websiteError != 'Please fill the website!'} ? 'form-control is-valid' : 'form-control is-invalid'"
                   th:field="*{website}"
                   placeholder="Your website"/>
            <div class="invalid-feedback">
                <p th:text="${websiteError}"></p>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Address:</span>
            </div>
            <input type="text"
                   th:class="${addressError != 'Please fill the address!'} ? 'form-control is-valid' : 'form-control is-invalid'"
                   th:field="*{address}"
                   placeholder="Address"/>
            <div class="invalid-feedback">
                <p th:text="${addressError}"></p>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Phone number:</span>
            </div>
            <input type="text"
                   th:class="${phoneNumberError != 'Please fill the phoneNumber!'} ? 'form-control is-valid' : 'form-control is-invalid'"
                   th:field="*{phoneNumber}"
                   placeholder="Organization's phone number"/>
            <div class="invalid-feedback">
                <p th:text="${phoneNumberError}"></p>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Rating:</span>
            </div>
            <input type="text"
                   th:class="${ratingError != 'Please fill the rating!'} ? 'form-control is-valid' : 'form-control is-invalid'"
                   th:field="*{rating}"
                   placeholder="Rating"/>
            <div class="invalid-feedback">
                <p th:text="${ratingError}"></p>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Description:</span>
            </div>
            <input type="text"
                   th:class="${descriptionError != 'Please fill the Description!'} ? 'form-control is-valid' : 'form-control is-invalid'"
                   th:field="*{description}"
                   placeholder="Description"/>
            <div class="invalid-feedback">
                <p th:text="${descriptionError}"></p>
            </div>
        </div>
        <div class="custom-file mb-3">
            <input type="file" name="file" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Type:</span>
            </div>
            <select th:field="*{organizationTypes}">
                <option th:each="type : ${types}"
                        th:value="${type}"
                        th:text="${type}"
                ></option>
            </select>
        </div>
    </div>

</div>
</body>
</html>