<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div id="addition-form" class="addition-form">

    <div class="input-group mb-3">
        <input type="hidden"
               class="form-control is-valid"
               th:field="*{id}"
               placeholder="ID"/>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Name:</span>
        </div>
        <input type="text"
               th:class="${usernameError == null} ? 'form-control is-valid' : 'form-control is-invalid' "
               th:field="*{username}"
               placeholder="Name"/>
        <div class="invalid-feedback text-center">
            <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                   class="validation-message text-center"></label>
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Email:</span>
        </div>
        <input type="text"
               th:field="*{email}"
               th:class="${emailError == null} ? 'form-control is-valid' : 'form-control is-invalid' "
               placeholder="Email"/>
        <div class="invalid-feedback text-center">
            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                   class="validation-message text-center"></label>
        </div>
    </div>
</div>
</body>
</html>