.input-group>.input-group-prepend {
flex: 0 0 15%;
}
.input-group .input-group-text {
width: 100%;
}

#down {
position: absolute;
bottom: 0;
width: 100%;

}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  bottom: 0;
}

/* Other Classes for Page Styling */
html, body {
  height:auto;
}
body {
 background-image: linear-gradient(to right bottom, #d16ba5, #a05a8e, #734973, #4c3754, #2b2434, #2c2b3b, #2d3242, #2e3948, #3c647c, #3f93ac, #43c6d4, #5ffbf1);
 background-size: auto;
}


.collapseOne {
    background-color: transparent;
    background: transparent;
    border-width: 0px;
}