<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Organization</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <link href="../static/css/commonAdditionFormsStyle.css"
          th:href="@{/css/commonAdditionFormsStyle.css}"
          rel="stylesheet"
    />

</head>
<body>

    <h1>Add new Organization</h1>

    <div class="container-sm">
        <form style="text-align: center" class="form-horizontal"
              th:action="@{/organizations/add}"
              th:object="${organization}"
              th:method="post">
            <div class="container-sm"
                 th:insert="~{fragments/commonAdditionForms :: #addition-form}">
            </div>
            <p>
                <button class="btn btn-outline-dark"
                        type="submit">Add >
                </button>
                <button class="btn btn-outline-dark"
                        type="reset">Reset >
                </button>
            </p>
        </form>
    </div>

    <div class="down"
         th:insert="~{fragments/footer :: #down}">
    </div>

</body>
</html>