<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Organization Photos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>

<div>
    <div class="NavBar"
         th:insert="~{fragments/commonNavBar :: #navbar}">
    </div>
    <br>
</div>

<!--<p th:text="${organizationPhotos}"></p>-->


<div class="container">

    <form th:action="@{/photos/add/{id}(id=${id})}"
          th:method="post"
          enctype="multipart/form-data">
        <div class="custom-file mb-3">

            <div class="custom-file mb-3">
                <input type="file"
                       name="photos"
                       id="photos"
                       multiple="multiple">
                <label class="custom-file-label" for="photos">Choose photos ></label>
            </div>
            <p>
                <button class="btn btn-outline-dark"
                        style="color:black"
                        type="submit">Add photos >
                </button>

                <button type="button" class="btn btn-outline-dark"><a
                        th:href="@{/organizations/info/{id}(id=${id})}"
                        style="color:black"
                        class="info">Cancel ></a>
                </button>

            </p>

        </div>
    </form>
    <br>


    <div class="card-columns">
        <div th:each="organizationPhoto : ${organizationPhotos}">

            <div class="card ">

                <img th:src="@{'/organizations/' + ${organizationPhoto.name}}"
                     class="d-block w-100"
                     style="height:400px;"
                     alt="Photo">
                <div class="card-body">

                    <form th:action="@{/photos/update/{id}(id=${organizationPhoto.id})}"
                          th:method="post"
                          enctype="multipart/form-data">
                        <div class="custom-file">
                            <input type="file" name="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <br>
                        <br>
                        <input type="hidden"
                               th:name="organizationId"
                               th:value="${id}"/>
                        <p>
                            <button class="btn btn-outline-dark"
                                    style="color:black"
                                    type="submit">Change photo >
                            </button>
                        </p>
                    </form>
                    <form th:action="@{/photos/delete/{id}(id=${organizationPhoto.id})}">
                        <input type="hidden"
                               th:name="organizationId"
                               th:value="${id}"
                        />
                        <button class="btn btn-outline-dark"
                                style="color:black"
                                type="submit">Delete >
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>


</body>
</html>